// edit-receiver.component.scss

.edit-receiver-container {
    padding: 20px;
  }
  
  .receiver-info {
    margin-bottom: 20px;
  }
  
  .add-info-btn {
    margin-top: 20px;
  }
  
  .info-group {
    margin-bottom: 15px;
  }
  